:root {
  scroll-behavior: smooth;
  --black: #000000;
  --white: #ffffff;
  --body: #ececec;
  --color1: #5353c3;
  --color2: #342056;
  --color3: #443c96;
  --color4: #342464;
  --primary-gr: linear-gradient(136.65deg, var(--color2) -14.24%, var(--color1) 136.01%);
  --primary-gr-hover: linear-gradient(136.65deg, var(--color1) -14.24%, var(--color2) 136.01%);
  --text1: #313131;
  --text2: #1a1a1a;
  --text3: #646464;
  --text4: #989898;
}